<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Laptops</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <!------------------------------------------------------------------------- navbar ------------------------------------------------------------------------------>
    <nav class="navbar navbar-expand-sm navbar-custom" aria-label="Third navbar example">
      <div class="container-fluid">
        <a class="navbar-brand nav-link-custom" href="/home">CLICK BAIT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03">
          <div class="container" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            <li class="nav-item">
              <a class="nav-link nav-link-custom" href="/clothing">Clothing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-custom" href="/laptops">Laptops</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-custom" href="/mobiles">Mobiles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-custom" href="/shoes">Shoes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-custom" href="/watches">Watches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-custom" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-custom" href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-link-custom" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown03">
                <li><a class="dropdown-item" href="/orders">Orders</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
          <form>
            <input class="search" type="text" placeholder="Search">
            <button class="sb" type="button">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <!------------------------------------------------------------------------- navbar ------------------------------------------------------------------------------>
  </header>

  <div class="" style="width:80%;margin:auto;">
    <!-- popular products -->
    <div class="pop-prod" style="width:90%;margin:auto;">
      <h1 class="head">Laptops</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-5">
        <a href="/product/p06" class="col-custom hvr-grow">
          <div class="card h-100 card-custom">
            <img src="<%= im[0]%>" class="card-img-top card-im card-im" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= nm[0]%></h5>
              <p class="card-text">Rs.<%= pr[0]%></p>
            </div>
          </div>
        </a>
        <a href="/product/p07" class="col-custom hvr-grow">
          <div class="card h-100 card-custom">
            <img src="<%= im[1]%>" class="card-img-top card-im" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= nm[1]%></h5>
              <p class="card-text">Rs.<%= pr[1]%></p>
            </div>
          </div>
        </a>
        <a href="/product/p08" class="col-custom hvr-grow">
          <div class="card h-100 card-custom">
            <img src="<%= im[2]%>" class="card-img-top card-im" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= nm[2]%></h5>
              <p class="card-text">Rs.<%= pr[2]%></p>
            </div>
          </div>
        </a>
        <a href="/product/p09" class="col-custom hvr-grow">
          <div class="card h-100 card-custom">
            <img src="<%= im[3]%>" class="card-img-top card-im" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= nm[3]%></h5>
              <p class="card-text">Rs.<%= pr[3]%></p>
            </div>
          </div>
        </a>
        <a href="/product/p10" class="col-custom hvr-grow">
          <div class="card h-100 card-custom">
            <img src="<%= im[4]%>" class="card-img-top card-im" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= nm[4]%></h5>
              <p class="card-text">Rs.<%= pr[4]%></p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- popular products -->
  </div>

  <!-- FOOTER -->
  <footer>

    <div class="col">
      <h5>Categories</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/clothing">Clothing</a></li>
        <li class="nav-item mb-2"><a href="/laptops">Laptops</a></li>
        <li class="nav-item mb-2"><a href="/mobiles">Mobiles</a></li>
        <li class="nav-item mb-2"><a href="/shoes">shoes</a></li>
        <li class="nav-item mb-2"><a href="/watches">Watches</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Useful Links</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/contact">Contact Us</a></li>
        <li class="nav-item mb-2"><a href="/about">About Us</a></li>
        <li class="nav-item mb-2"><a href="/tnc">T & C</a></li>
      </ul>
    </div>

    <p>&copy 2022 Click Bait,Inc</p>

  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script type="text/javascript" src="javascript/home.js">

  </script>
</body>

</html>